DATABASE_URL=postgresql://postgres:postgres@localhost:5432/media_monitoring
APP_TITLE=Annie's Press Tracker
OXYLABS_USERNAME=
OXYLABS_PASSWORD=
OXYLABS_PROXY_HOST=pr.oxylabs.io
OXYLABS_PROXY_PORT=7777
USE_PROXY_DEFAULT=true
